<section class="mt-2 row">
  <div class="col-6">
    <img class="img-thumbnail" alt="Podgląd fotografii" [src]="'https://picsum.photos/id/'+ imgId +'/600/600'" />
  </div>
  <div class="col-6">
    <form #auctionForm="ngForm" (ngSubmit)="handleSubmit(auctionForm)">
      <div class="form-group">
        <label for="auctionTitle">Nazwa aukcji</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend" (click)="title.value = 'Domyślny tytuł'">
            <span class="input-group-text">
              <i class="fa fa-edit"></i>
            </span>
          </div>
          <input ngModel #title id="auctionTitle" type="text" name="title" required class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label for="auctionPrice">Cena aukcji</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-tag"></i>
            </span>
          </div>
          <input ngModel id="auctionPrice" type="number" name="price" required class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label for="img">Zdjecie</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-image"></i>
            </span>
          </div>
          <input ngModel [(ngModel)]="imgId" id="img" type="number" name="imgUrl" required class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label for="auctionDescription">Szczegółowy opis</label>
        <div class="input-group mb-3">
          <textarea ngModel id="auctionDescription" rows="5" class="form-control" name="description"></textarea>
        </div>
      </div>
      <div class="text-right">
        <button [disabled]="auctionForm.invalid" class="btn btn-primary" type="submit">
          <i class="fa fa-gavel"></i> Dodaj aukcję
        </button>
      </div>
    </form>
  </div>
</section>